.gpt3__cta {
  background: var(--gradient-bar);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}
.gpt3__cta .gpt3__cta-content {
  margin-right: 1rem;
}
.gpt3__cta .gpt3__cta-content p {
  color: #0e0e0e;
}
.gpt3__cta .gpt3__cta-content h3 {
  font-weight: 800;
  font-size: 24px;
  line-height: 45px;
}
.gpt3__cta .glow {
  min-width: 150px;
  position: relative;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 50px;
  outline: none;
  padding: 0.6rem 1.1rem;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  cursor: pointer;
  z-index: 0;
}
.gpt3__cta .glow:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #48ff00,
    #00ffd5,
    #0e549c,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  -webkit-background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #48ff00,
    #00ffd5,
    #0e549c,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  -moz-animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 100px;
}
.gpt3__cta .glow:active:after {
  background: transparent;
}
.gpt3__cta .glow:hover:before {
  opacity: 1;
}
.gpt3__cta .glow:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  left: 0;
  top: 0;
  border: none;
  border-radius: 100px;
  z-index: -1;
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@media (max-width: 1091px) {
  .gpt3__cta .gpt3__cta-content h3 {
    font-size: 21px;
    line-height: 40px;
  }
}
@media (max-width: 920px) {
  .gpt3__cta {
    margin-top: 1rem;
    margin-bottom: 4rem;
  }
}
@media (max-width: 750px) {
  .gpt3__cta {
    flex-direction: column;
  }
  .gpt3__cta .gpt3__cta-content {
    margin-right: 0rem;
  }
  .gpt3__cta .gpt3__cta-content h3 {
    font-size: 19px;
    line-height: 30px;
  }
  .gpt3__cta .glow {
    margin: 2rem auto 0.5rem;
    max-width: 150px;
  }
  .gpt3__cta .glow {
    font-size: 16px;
    font-weight: 600;
  }
}
@media (max-width: 550px) {
  .gpt3__cta .glow {
    font-size: 15px;
    font-weight: 500;
  }
}
@media (max-width: 440px) {
  .gpt3__cta .gpt3__cta-content h3 {
    font-size: 16px;
    line-height: 24px;
  }
  .gpt3__cta {
    margin: 1.5rem 1rem 0.5rem;
  }
}
@media (max-width: 390px) {
  .gpt3__cta .gpt3__cta-content h3 {
    font-size: 12px;
    line-height: 22px;
  }
  .gpt3__cta .glow {
    font-size: 14px;
    font-weight: 500;
  }
}