.gpt3__features-container_feature {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 93%;
  margin: 1rem 0;
}
.gpt3__features-container_feature{
  flex: 1;
  margin: 1rem;
  flex-direction: column;
}
.gpt3__features-container_feature-title-line-up {
  width: 38px;
  height: 3px;
  background: var(--gradient-bar);
  box-shadow: 0 4px 4px rgba(0 0 0 0.25);
  margin-bottom: 0.6rem;
}
.gpt3__features-container_feature-title {
  max-width: 180px;
  margin-right: 2rem;
}
.gpt3__features-container_feature-title h3 {
  font-weight: 800;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: -0.04em;
  color: #ffffff;
}
.gpt3__features-container_feature-text {
  flex: 2;
  display: flex;
}
.gpt3__features-container_feature-text p {
  color: var(--color-text);
  margin-top: 1rem;
}
@media (max-width: 950px) {
  .gpt3__features-container_feature {
    flex-direction: column;
  }
}
@media (max-width: 690px) {
  .gpt3__features-container_feature {
    margin: 1rem 0.5rem;
    flex-direction: column;
  }
}
@media (max-width: 550px) {
  .gpt3__features-container_feature {
    margin: 1rem 0;
  }
  .gpt3__features-container_feature {
    flex-direction: column;
  }
  .gpt3__features-container_feature-title h3 {
    font-size: 15px;
    line-height: 22px;
    font-weight: 500;
    letter-spacing: 0;
  }
  .gpt3__features-container_feature-text p {
    margin-top: 10px;
  }
}
