.gpt3__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: var(--color-footer);
}
.gpt3__footer h2 {
  width: 100%;
  text-align: center;
  margin-top: 0.5rem;
  font-weight: 800;
  font-size: 52px;
  line-height: 75px;
  letter-spacing: -0.04em;
}
.gpt3__footer-btn {
  outline: none;
  background: none;
  color: #fff;
  padding: 20px 22px 21px 22px;
  border: 1px solid #ffffff;
  cursor: pointer;
  margin: 3rem 0 4rem;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.gpt3__footer-btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);
  transition: all 0.5s;
  z-index: -1;
}
.gpt3__footer-btn:hover::before {
  width: 100%;
}
.gpt3__footer-links {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.gpt3__footer-links div:first-child {
  margin-right: 4rem;
}
.gpt3__footer-links_logo img {
  width: 118px;
  height: 30px;
}
.gpt3__footer-links_logo p {
  width: 168px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin-top: 1.6rem;
  color: #ffffff;
}
.gpt3__footer-links div {
  width: 145px;
  margin: 1rem;
}
.gpt3__footer-copyright {
  margin-top: 2.3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gpt3__footer-copyright p {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  font-feature-settings: "liga" off;
  color: #ffffff;
}
.gpt3__footer-copyright a {
  color: #ffffff;
  margin-left: 3px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}
.gpt3__footer-copyright .social-icon {
  font-size: 25px;
  transition: 0.2s;
}
.gpt3__footer-copyright .social-icon:hover {
  color: rgb(0, 159, 252);
}
.gpt3__footer-copyright .social-icon:first-child {
  margin: 0 5px;
}
@media (max-width: 768px) {
  .gpt3__footer h2 {
    font-size: 42px;
    line-height: 55px;
  }
  .gpt3__footer-links div:first-child {
    margin-right: 3rem;
  }
}
@media (max-width: 550px) {
  .gpt3__footer h2 {
    font-size: 32px;
    line-height: 40px;
  }
  .gpt3__footer-links div:first-child {
    margin-right: 1rem;
  }
  .gpt3__footer-btn {
    font-size: 14px;
  }
  .gpt3__footer-links_logo p {
    width: 100%;
    line-height: 2.5;
  }
}
@media (max-width: 545px) {
  .gpt3__footer-links {
    align-items: flex-start;
    justify-content: space-between;
    text-align: center;
  }
}
@media (max-width: 454px) {
  .gpt3__footer-copyright p {
    font-size: 12px;
    line-height: 16px;
  }
  .gpt3__footer-links_logo p {
    line-height: 1.5;
  }
}
@media (max-width: 435px) {
  .gpt3__footer-links {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
@media (max-width: 430px) {
  .gpt3__footer-copyright {
    flex-direction: column;
  }
  .gpt3__footer-copyright .profile-icons {
    margin-top: 1rem;
  }
}
